*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
build/
data/
infer_data/
test_interface
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
cortexnet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.AppleDouble
*.weights

# lib
*.a
*.so
python/cvm/_cython/libcvm.c

compile_commands.json
.ycm_extra_conf.py

# binary
tests/test_model*
tests/test_op*
tests/ipy

config.cmake
