[submodule "cvm-runtime"]
	path = cvm-runtime
	url = https://github.com/CortexFoundation/cvm-runtime.git
	branch = master
[submodule "solution"]
	path = solution
	url = https://github.com/CortexFoundation/solution.git
[submodule "XCortex"]
	path = XCortex
	url = https://github.com/CortexFoundation/XCortex.git
    branch = sha256 
