{% extends "layout.html" %}
{% block content %}
{% if call_or_get(current_user.is_authenticated) %}
<div class="container account">
    <h1>Account</h1>
    <p><span>Address</span><b class='mineraddr'></b></p>
    <p><span>Amount</span><b class='mineramount'></b></p>
    <br>
    <p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#transfer">Transfer</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#call">Call</button>
    </p>
    <br>
</div>
{% endif %}
<div class="container" id="blocks">
    <h1>Blocks</h1>
    <table class="table">
	<thead>
	    <tr>
		<th>Height</th>
		<th>Age</th>
		<th>Miner Address</th>
		<th>Tx#</th>
		<th>Miner Reward</th>
	    </tr>
	</thead>
	<tbody></tbody>
    </table>
</div>
<div class="modal fade" id="transfer">
    <div class="container">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Transfer</h4>
            </div>
            <div class="modal-body">
                <label class="control-label inline">From:&nbsp;</label>
                <input type="text" class="form-control inline" value="{{current_user.mineraddr}}" readonly><br><br>
                <label class="control-label inline">To:&nbsp;</label>
                <input type="text" class="form-control inline"><br><br>
                <label class="control-label inline">Amount:&nbsp;</label>
                <input type="number" class="form-control inline"><br><br>
                <!--<label class="control-label inline">Nonce:&nbsp;</label>
                <input type="text" class="form-control inline"><br><br>-->
                <button class="btn btn-primary transfer" onclick="transfer()">Transfer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="call">
    <div class="container">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Call</h4>
            </div>
            <div class="modal-body">
		<label class="control-label inline">From:&nbsp;</label>
                <input type="text" class="form-control inline" value="{{current_user.mineraddr}}" readonly><br><br>
		<label class="control-label inline">To:&nbsp;</label>
                <input type="text" class="form-control inline" value="DefaultContract" readonly><br><br>
		<pre>
contract DefaultContract{ 
  mapping(address=>uint) account;

  //other code
  ....
 
  //classify type of picture
  function animalClassification(address input, address model){
    //get infer result
    var result = keccak256(infer(input, model));

    //reward according to your choice
    if (result == keccak256("bird"))
      account[msg.sender] += 10
  }

  //other code
  ....
}
		</pre>
		<p>Upload Image <small>(.png .jpg .jpeg, size &lt; 200K)</small></p>
		<input type="file" accept="image/png,image/jpg,image/jpeg" id="imgInput">
		<hr>
		<p>Model : resnet152</p>
                <div class="row" style="display: none">
                    <label class="col-xs-4" onclick="getInput('327e12772d8d08bd5ef1936b58e445535dbef23da3b8001a0eed01efa8e50de0')">
			<img src="static/images/1.png" alt=""><input type="radio" name="input" checked>
		    </label>
                    <label class="col-xs-4" onclick="getInput('2035256b3362f76baa041560ba622bb50086b4feed93ab642d357587b6d3a01c')">
			<img src="static/images/2.png" alt=""><input type="radio" name="input">
		    </label>
                    <label class="col-xs-4" onclick="getInput('f489902a0aa9622917550bbd612674fc149b2121d26af2e88022597e024317cd')">
			<img src="static/images/3.png" alt=""><input type="radio" name="input">
		    </label>
                </div>
                <div class="row" style="margin: 15px -15px;display: none">
                    <label class="col-xs-4" onclick="getModel('6d4bd32d506d845101b5a2da140a4ce69dafa1035958d7344fd22f842ee1c2b3')">
                        <input type="radio" name="model" checked> vgg16
                    </label>
                    <label class="col-xs-4" onclick="getModel('2840ccd67199743a7a3f64e5fd51e5a44470373845c5e08bc0fbd96b41ce2aa0')">
                        <input type="radio" name="model"> vgg19
                    </label>
                    <label class="col-xs-4" onclick="getModel('5a1531e06f72a40f579ee450293cef6f1175fa96d767df03b4fc94d6722fc5f9')">
                        <input type="radio" name="model"> resnet152
                    </label>
                </div>
                <button class="btn btn-primary call" onclick="call()">Call</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="txn">
    <div class="container">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title blockheight">Block </h4>
            </div>
            <div class="modal-body">
		<div style="width: 100%;overflow-x: auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tx</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Value</th>
			<th>Comment</th>
                    </tr>
                    </thead>
		    <tbody></tbody>
                </table>
		</div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success msg">Please wait for packaging the transaction!</div>
{% endblock %}
