a, button {
    outline: none !important;
    text-decoration: none !important;
}

.btn {
    margin-right: 15px;
    min-width: 100px;
}

img {
    width: 100%;
}

.header {
    overflow: hidden;
    margin-bottom: 50px;
    background: #000;
    color: #fff;
}

.header a {
    color: #fff !important;
}

.header .pull-left a {
    display: block;
    padding: 15px 0 15px 45px;
    height: 50px;
    background: url("images/logo.png") no-repeat left center;
    background-size: 40px;
}

.header .pull-right a {
    float: left;
    display: block;
    padding: 15px;
}

.modal .container {
    margin: 50px auto;
}

#account .modal-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    word-break: break-all;
}

#account a {
    color: #fff !important;
}

.inline {
    display: inline-block;
}

label.inline {
    width: 60px;
    text-align: right;
}

input.inline {
    max-width: 375px;
}

.account {
    background: #eee;
    margin-bottom: 50px;
    border-radius: 6px;
}

.account span {
    display: inline-block;
    width: 80px;
    font-weight: bolder;
}

.account h1 {
    padding-left: 40px;
    background: url("images/user.png") no-repeat left center;
}

#blocks {
    border-radius: 6px;
    box-shadow: 0px 0px 15px #ddd;
}

#blocks h1 {
    padding-left: 40px;
    background: url("images/block.png") no-repeat left center;
}

thead tr {
    background: #eee;
}

.no-margins {
    margin: 0px;
}

.with-margins {
    margin: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.msg{
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    text-align: center;
    z-index: 9999;
}

@media (max-width: 768px) {
    label.inline {
        text-align: left;
    }
}
